.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(177, 150, 150);
    height: 400px;
    width: 500px;
    gap: 20px;
}
.inputFields{
    background-color: aqua;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}